body {
	font-family: 'Alegreya', serif;
}
h1 {
	font-size: 500%;
	display: block;
	margin-top: auto;
	text-align: center;
}
.wrapper {
	display: block;
	width: 100%;
}
.gameText {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	clear:none;
}
img {
	width:30%;
}
.elephant {
	float:right;
}
.donkey {
	float:left;
}
#answer {
	letter-spacing: 12px;
	font-size:400%;
}
#letter {
	font-size:180%;
	letter-spacing:10px;
}
#wins {
	font-style:inherit;
}
#counter {
	font-style:inherit;
}